

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66465, #9198e5);
    color: rgb(235, 232, 232);
    padding: 10px;
}

.header {
    position: sticky;
    top: 0;
    background-color: lightblue;
    z-index: 1000;
    padding: 10px;
    color: black;
}

.h {
    font-size: 75px;
    font-weight: bold;
    color: white;
}

#experience {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.h2 {

    justify-content: space-between;
    font-size: 45px;
    font-weight: normal;
    color: lightskyblue
}

.container {
    display: flex;
    flex-direction: column;
}

.subContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jobEntry {
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-weight: bold;
    border: 2px solid black;
    padding: 30px;
}

.jobHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border: 2px solid darkblue;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    color: black;
}

.jobHeader {
    display: flex;               
    justify-content: space-between; 
    align-items: baseline;       
  }
  
#links {
    display: flex;  
    flex-direction: row;             
    justify-content: space-between; 
    align-items: baseline;       
  }